api.songyang.dev {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key

    reverse_proxy server:3000

    # Enable compression
    encode zstd gzip

    # Basic request logging to file inside the container (persisted via volumes)
    log {
        output file /var/log/caddy/access.log {
            roll_size 10MiB
            roll_keep 10
            roll_local_time
        }
    }
}
